<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form name="login" id="login_id" method="get" action="/">
      <p>아이디</p>
      <input type="text" />
      <p>비밀번호</p>
      <input type="password" /><br />
      <button id="login_id" type="submit">제출</button>
    </form>
  </body>
</html>
